.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: red;
  font-size: 1rem;
}

.modal-title {
  margin-bottom: 5px;
}

.modal-subtitle {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 14px;
}